# silly macOS
.DS_Store

# build files
build/

# editor config
.vscode/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
ide_profiles/xcode/Debug/
ide_profiles/xcode/ExtendedKF.build/
/.vs/Extended Kalman Filter/v15
/Debug
/x64/Debug
/Extended Kalman Filter.sln
/Extended Kalman Filter.vcxproj
/Extended Kalman Filter.vcxproj.filters
/.vs
/sensor-fusion-ekf-reference.pdf
/src/.vs
/Visualize/kalman_tracker_windows
/x64/Release
/output_data
/Extended Kalman Filter.vcxproj.user
/data_out.txt
/data_in.txt
/kalman-tracker.py
/Visualize/.ipynb_checkpoints
